
  .home-content__text * {
    font-family: 'helvetica neue';
    box-sizing: border-box;
  }
  .typeahead {
    background: #fff;
    position: relative;
    width: 400px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  }
  .typeahead .close {
    position: absolute;
    font-size: 13px;
    z-index: 10;
    top: 25px;
    right: 20px;
    color: #aaa;
    cursor: pointer;
    display: none;
  }
  .typeahead .close.visible {
    display: block;
  }
  .home-content__text input {
    padding: 10px 10px;
    font-weight: 300;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666;
  }
  .dialog {
    width: 100%;
    display: none;
    min-height: 40px;
    max-height: 475px;
    overflow-y: scroll;
    border-top: 1px solid #f4f4f4;
  }
  .dialog.open {
    display: block;
  }
  .dialog div {
    padding: 20px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dialog div:hover {
    background: #f2f2f2;
  }
  .sentence {
    background: #fff;
    position: relative;
    width: 400px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  }
  .home-content__text .submit {
    position: relative;
    font-size: 13px;
    
    z-index: 10;
    left: 20px;
    color: #aaa;
    cursor: pointer;
    display: none;
  }
  .submit.visible{
    display: block;
  }
  .sentence .close {
    position: absolute;
    font-size: 13px;
    z-index: 10;
    top: 25px;
    right: 20px;
    color: #aaa;
    cursor: pointer;
    display: none;
  }
  
  .sentence .close.visible {
    display: block;
  }

 