<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!--- basic page needs
    ================================================== -->
    
    <meta charset="utf-8">
    <title>Hello John</title>
    <meta name="description" content="">
    <meta name="author" content="JohnTheTyro">

    <!-- mobile specific metas
    ================================================== -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/base/css/base.css">
    <link rel="stylesheet" href="/static/base/css/vendor.css">
    <link rel="stylesheet" href="/static/base/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/static/base/js/modernizr.js"></script>
    <script src="/static/base/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/base/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/base/images/favicon.ico" type="image/x-icon">
    {% block head %}
    {% endblock %}
</head>
<style>
    #btn {
        width: 50px;
        height: 50px;
        background: url("/static/base/images/logo.ico") no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        position: fixed;
        top: 0%;
        right: 50%;
        z-index: 6666;
		border-radius: 20px;
    }
</style>

<body>
    <!-- home
    ================================================== -->
    
    <main class="s-home s-home--slides">
        {% block slides %} {% endblock %}
        <div class="home-slider">
            {% for image in BgImageFile %}
                <div class="home-slider-img" style="background-image: url({{ image }});"></div>
            {% endfor %}
        </div>
        <!-- <div class="overlay"></div> -->

        <div class="home-content">
            <div class="home-logo">
                
                {% block home_logo %} {% endblock %}
            </div>

            <div class="row home-content__main">
                {% block home_content__main %} {% endblock %}
                
                <div class="home-content__text pull-right">

                    {% block home_content__text %} {% endblock %}
    
                </div>  <!-- end home-content__text -->


            </div>  <!-- end home-content__main -->

            <ul class="home-social">

            </ul> <!-- end home-social -->

            <div class="row home-copyright">
				<!-- <span><a href="https://beian.miit.gov.cn/" target="_blank">蜀2021032334</a></span>备案-->
                <span>JohnTheTyro &copy; 2024.3.7 <a target="_blank" href="http://sc.chinaz.com/moban/"></a></span>
            </div> 
            


            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

    </main> <!-- end s-home -->


    <!-- info
    ================================================== -->
    <a class="info-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>

    <div class="s-info">

        <div class="row info-wrapper">

            <div class="col-seven tab-full info-main">
                <h1>Contact Information</h1>
                <p>QQ：1378555845</p>
                <p>Email: 1378555845gg@gmail.com</p>
                
                <p>Current Status: Open to work</p>
                <p>
                    <a href="https://www.linkedin.com/in/wenjun-zhang-151472221/" >Linkedin Profile</a><br>   
                </p>
                <p>
                    <a href="/resume" class="info-email">About Me</a><br>
                </p>
                
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Website menu</h3>
                    <p>
                        <a href="/" class="info-email">Front Page</a><br>
                        
                    </p>
                    
                    <p>
                        <a href="/01_03" class="info-email">Birthday Celebration</a><br>
                        <!-- <a href="" class="'info-phone"></a> -->
                    </p>
                    
                   
                <!-- for further addons
                    <p>
						<a href="http://mpen.natapp1.cc/">my blog</a>
					</p>
                -->

				<!-- for further addons
                    <p>
						<a href="/PYahao/">other web</a>
					</p>
                -->
                </div>

                <div class="info-block">
                    <h3>Warning</h3>
                    
                    <p class="info-address">
                        This website is personal property！<br>
                        Cyber Attack is not allowed！<br>
                        Data Crawling is not allowed！<br>
                        Please abide by the Internet order!<br>
                        Violators will be held accountable！<br>
                    </p>
                </div>
                
            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->

    </div> <!-- end s-info -->
    
    {% block body %} {% endblock %}



    <!-- Java Script
    ================================================== -->
    <script src="/static/base/js/jquery-3.2.1.min.js"></script>
    <script src="/static/base/js/plugins.js"></script>
    <script src="/static/base/js/main.js"></script>
    {% block script %} {% endblock %}    

</body>
{% block html %} {% endblock %}    
</html>