
{% extends 'base.html' %}
{% block slides %} \
       
{% endblock %}
{% block home_logo %} 

<a href="https://github.com/esbqjl">
    <img src="/static/base/images/github.svg" alt="Homepage">
</a>

{% endblock %}           
{% block home_content__main %} 
    <div class="col-eight home-content__text pull-right">
        <h3>Welcome to my chamber</h3>

        <h1>
        欢迎来到我的个人站.
        </h1>

        <p>
        Postive, Everyday!
        </p>
    </div>  <!-- end home-content__text -->
    
    <div class="col-four home-content__counter">
        <h3>Until Next Year</h3>

        <div class="home-content__clock">
            <div class="top">
                <div class="time days">
                    325
                    <span>Days</span>
                </div>
            </div>
            <div class="time hours">
                09
                <span>H</span>
            </div>
            <div class="time minutes">
                54
                <span>M</span>
            </div>
            <div class="time seconds">
                30
                <span>S</span>
            </div>
        </div>  <!-- end home-content__clock -->
    </div>  <!-- end home-content__counter -->
{% endblock %}
            

            

            
            


            

{% block body %} 
<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale-pulse-out">
            <div>欢迎你！陌生人！</div>
            <div>||||||||</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>我正在, 努力加载。。。</div>
            <div>||||||||</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>请您耐心等待.....</div>
        </div>
    </div>
</div>
{% endblock %}
    

