{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/resume/css/main.css">

{% endblock %}
{% block home_logo %} 

<a href="https://github.com/esbqjl">
    <img src="/static/base/images/github.svg" alt="Homepage">
</a>

{% endblock %}
{% block home_content__text %}
    <div class="scrollable-container-wrapper">
        <div class="scrollable-container">
            <h3>About Me：</h3>
            <p>I'm Wenjun Zhang, an academically accomplished computer science and electrical engineering professional currently pursuing a Master of Science at Boston University. I hold a Bachelor of Science in Computer Science from Suffolk University. My skillset spans various computer languages, including C++, Python, Java, HTML, CSS, JavaScript, Ruby, Springboot, and MySQL.<br><br>

                I've gained practical experience from internships at Qiflying Technology Co., Ltd. and ClassHook Inc. I was instrumental in improving WeChat mini programs, managing CMS, optimizing websites, and developing new functionalities.<br><br>
                
                I've been a part of significant projects, like building an Airport DBMS using JDBC Template, developing a wealth distribution model using NetLogo, solving the Travelling Salesman Problem using Christofield’s Algorithm, creating an Aimbot based on object detection, and optimizing Gaussian Blur for noise reduction. A notable project involved developing a solution to unlock a door using AWS facial detection API, which combined hardware and software solutions.<br><br>
                
                As a research assistant, my contributions to various projects have honed my collaborative skills. I've also engaged in extracurricular activities, serving as an Activity Designer and IT Technician Consultant for the Chinese Student Association at Suffolk University.<br><br>
                
                I'm proficient in English and native in Chinese and Cantonese. My interests include reading, basketball, badminton, and computer games. My passion for computer sciences and electrical engineering compels me to innovate and strive for excellence. I believe in the transformative power of technology and am eager to contribute to it.<br><br></p>
        </div>
    </div>
{% endblock %}

{% block  script %} 

{% endblock %}
